*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

.canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.button{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    padding: 50px;
    margin: 10px;
}

#grey{
    background-color: grey;
}
#blue{
    background-color: blue;
}
#white{
    background-color: white;
}
#yellow{
    background-color: yellow;
}
#purple{
    background-color: purple;
}